{% extends "base.html" %}
{% block content %}

<div class="container mt-">
    <h2>Add Lead</h2>

    <div class="card p-4 shadow-sm w-50">

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="mb-3">
                <label>Name</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label>Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label>Phone</label>
                {{ form.phone }}
            </div>

            <div class="mb-3">
                <label>Status</label>
                {{ form.status }}
            </div>

            {% if request.user.profile.role == "admin" %}
            <div class="mb-3">
                <label>Assign To (Employee)</label>
                {{ form.assigned_to }}
            </div>
            {% endif %}

            <button class="btn btn-success">Add Lead</button>
        </form>

    </div>
</div>

{% endblock %}
