{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2>Leads</h2>
    <div class="d-flex justify-content-end mb-3">
        

        <a href="{% url 'add_lead' %}" class="btn btn-primary m-2">
            + Add Lead
        </a>
        {% if request.user.profile.role == "employee" %}
        <a href="?export=excel" class="btn btn-warning m-2">
            Export Excel
        </a>
        {% endif %}
    </div>

    <form method="get" class="row g-2 mb-3" autocomplete="off">
        <div class="col-md-4">
            <input type="text" name="search" value="{{ search }}" class="form-control"
                   placeholder="Search name, email, phone...">
        </div>

        <div class="col-md-3">
            <select name="status" class="form-control">
                <option value="">All Status</option>
                <option value="new" {% if status_filter == "new" %}selected{% endif %}>New</option>
                <option value="in-progress" {% if status_filter == "in-progress" %}selected{% endif %}>In Progress</option>
                <option value="closed" {% if status_filter == "closed" %}selected{% endif %}>Closed</option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-success w-100">Search</button>
        </div>
    </form>

    
    <form method="post">
        {% csrf_token %}

        {% if request.user.profile.role == "admin" %}
            <button type="submit" class="btn btn-danger mb-2"
                    onclick="return confirm('Delete selected leads?')">
                Delete Selected
            </button>
        {% endif %}

        <table class="table table-bordered mt-3">
            <thead >
                <tr>
                    {% if request.user.profile.role == "admin" %}
                    <th><input type="checkbox" id="selectAll"></th>
                    {% endif %}
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    {% if request.user.profile.role == "admin" %}
                    <th>Assigned To</th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for lead in leads %}
                <tr>
                    {% if request.user.profile.role == "admin" %}
                    <td>
                        <input type="checkbox" name="selected_leads" value="{{ lead.id }}">
                    </td>
                    {% endif %}

                    <td>{{ lead.name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone }}</td>
                    <td>{{ lead.get_status_display }}</td>
                    {% if request.user.profile.role == "admin" %}
                    <td>{{ lead.assigned_to.first_name }}</td>
                    {% endif %}

                    <td>
                        <a href="{% url 'edit_lead' lead.id %}"
                           class="btn btn-sm btn-info">Edit</a>

                        <a href="{% url 'delete_lead' lead.id %}"
                           class="btn btn-sm btn-danger">Delete</a>
                        <a href="{% url 'lead_history' lead.id %}" class="btn btn-sm btn-secondary">
                            History
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="7" class="text-center">No leads found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <div class="d-flex justify-content-center">
        <ul class="pagination">

            {% if leads.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ leads.previous_page_number }}&search={{ search }}&status={{ status_filter }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for num in leads.paginator.page_range %}
                {% if num == leads.number %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ num }}&search={{ search }}&status={{ status_filter }}">
                        {{ num }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}

            {% if leads.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ leads.next_page_number }}&search={{ search }}&status={{ status_filter }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </div>

</div>

<script>
document.getElementById("selectAll")?.addEventListener("change", function () {
    let checkboxes = document.querySelectorAll("input[name='selected_leads']");
    checkboxes.forEach(cb => cb.checked = this.checked);
});
</script>

{% endblock %}
